src/test/resources/SrvPrivateOperState001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by ﻿Type ur fucking name ! (Type ur Company -.-) -->
<!--W3C XML Schema generated by XMLSpy v2015 sp2 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="001">
	<xsd:complexType name="PrivateOperStateRq_Type">
		<xsd:annotation>
			<xsd:documentation>Тип сообщения-запроса Получения результата операции разового зачисления
            </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RqUID" type="RqUID_Type">
				<xsd:annotation>
					<xsd:documentation>Уникальный идентификатор запроса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RqTm" type="DateTime">
				<xsd:annotation>
					<xsd:documentation>Дата и время передачи сообщения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OperUID" type="UID_Type">
				<xsd:annotation>
					<xsd:documentation>Идентификатор операции по которой проводиться проверка в УСВ БО для ФП Выплаты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SPName" type="SPName_Type">
				<xsd:annotation>
					<xsd:documentation>Идентификатор системы. Потребителя сервиса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BankInfo" type="BankInfo_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Информация о банке</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SystemId" type="SystemId_Type">
				<xsd:annotation>
					<xsd:documentation>Идентификатор системы поставщика сервиса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OperDate" type="Date"/>
			<xsd:element name="OperID" type="String" minOccurs="0"/>
			<xsd:element name="OperType">
				<xsd:annotation>
					<xsd:documentation>Переключатель вызова сервисов в УСВ БО</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="String">
						<xsd:enumeration value="FullResult"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SegmentId" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="String"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PrivateOperStateRs_Type">
		<xsd:annotation>
			<xsd:documentation>Тип сообщения-ответа Получения результата операции разового зачисления</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RqUID" type="RqUID_Type"/>
			<xsd:element name="RqTm" type="DateTime"/>
			<xsd:element name="OperUID" type="OperUID_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Идентификатор операции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Status" type="Status_Type"/>
			<xsd:element name="TransferLineInfo" type="TransferLineInfo_Type" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Информация о разбивки операции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PrivateOperStateRq" type="PrivateOperStateRq_Type">
		<xsd:annotation>
			<xsd:documentation>Получения результата операции разового зачисления
            </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PrivateOperStateRs" type="PrivateOperStateRs_Type">
		<xsd:annotation>
			<xsd:documentation>Получения результата операции разового зачисления
            </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TransferLineInfo_Type">
		<xsd:sequence>
			<xsd:element name="SrcCurAmt">
				<xsd:annotation>
					<xsd:documentation>Сумма микрооперации</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Turnover">
				<xsd:annotation>
					<xsd:documentation>Признак списание-зачисление</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="String">
						<xsd:enumeration value="CHARGE"/>
						<xsd:enumeration value="RECEIPT"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Status_Type">
		<xsd:annotation>
			<xsd:documentation>Статус ответа &lt;Status&gt;. Агрегат &lt;Status&gt; используется для возврата статуса сообщения. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StatusCode" type="StatusCode_Type">
				<xsd:annotation>
					<xsd:documentation>Статусный код возврата.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Описание статуса.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ServerStatusDesc" type="ServerStatusDesc_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Описание статуса системы источника</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BankInfo_Type">
		<xsd:annotation>
			<xsd:documentation>Информация о банке &lt;BankInfo&gt;</xsd:documentation>
			<xsd:documentation>Этот агрегат содержит дополнительную информацию для идентификации банка.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BranchId" type="BranchId_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер филиала.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AgencyId" type="AgencyId_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер отделения.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegionId" type="RegionId_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер террбанка.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RbTbBrchId" type="RbTbBrchType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>код территориального банка, в котором открыт счет МБК, по которой клиент произвел идентификацию на УС</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RbBrchId" type="RbBrchType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>8-ный код территориального банка - точки обслуживания клиента</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="AgencyId_Type">
		<xsd:annotation>
			<xsd:documentation>Номер отделения, в котором открыт или ведется продукт. С лидирующими нулями.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BalType_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="String"/>
	</xsd:simpleType>
	<xsd:simpleType name="Boolean">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="BranchId_Type">
		<xsd:annotation>
			<xsd:documentation>Номер филиала, в котором открыт или ведется продукт. Без лидирующих нулей.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="C">
		<xsd:annotation>
			<xsd:documentation>Базовый символьный тип, элемент данного типа может содержать количество символов до определенного максимума</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="C120">
		<xsd:annotation>
			<xsd:documentation>Символьный тип с ограниченим длины в 120 символов</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="120"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="C255">
		<xsd:annotation>
			<xsd:documentation>Символьный тип с ограниченим длины в 255 символов</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="C32">
		<xsd:annotation>
			<xsd:documentation>Символьный тип с ограниченим длины в 32 символа</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Date">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="DateTime">
		<xsd:annotation>
			<xsd:documentation>Тип данных для представления дат</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal">
		<xsd:annotation>
			<xsd:documentation>Тип данных для представления сумм</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="Long">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="xsd:long"/>
	</xsd:simpleType>
	<xsd:simpleType name="OperUID_Type">
		<xsd:annotation>
			<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String"/>
	</xsd:simpleType>
	<xsd:simpleType name="UID_Type">
		<xsd:annotation>
			<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String"/>
	</xsd:simpleType>
	<xsd:simpleType name="RbBrchType">
		<xsd:annotation>
			<xsd:documentation>Тип данных для 6-значного кода территориального банка. Используется для передачи кода ТБ, в котором обслуживается продукт клиента</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:length value="6"/>
			<xsd:pattern value="[0-9]{6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RbTbBrchType">
		<xsd:annotation>
			<xsd:documentation>Тип данных для кода территориального банка. Используется для передачи кода ТБ, в котором открыт счет МБК, по которой клиент произвел идентификацию на УС</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String"/>
	</xsd:simpleType>
	<xsd:simpleType name="RegionId_Type">
		<xsd:annotation>
			<xsd:documentation>Код региона банка</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RequestId_Type">
		<xsd:annotation>
			<xsd:documentation>Уникальный идентификатор заявки на создание подписки</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:pattern value="(AA|BB|CC|DD)[0-9a-zA-Z]{30}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RqUID_Type">
		<xsd:annotation>
			<xsd:documentation>Уникальный идентификатор запроса</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UUID"/>
	</xsd:simpleType>
	<xsd:simpleType name="SegmentCodeType">
		<xsd:annotation>
			<xsd:documentation>Код сегмента, к которому относят клиента</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="C">
			<xsd:enumeration value="0">
				<xsd:annotation>
					<xsd:documentation>отсутствует</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>потенциально МВС (массовый высокодоходный сегмент)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation>ВИП</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="4">
				<xsd:annotation>
					<xsd:documentation>МВС (массовый высокодоходный сегмент)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServerStatusDesc_Type">
		<xsd:annotation>
			<xsd:documentation>Исходное описание ошибки из внешней системы (заполняется только при значении StatusCode, отличном от 0.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String"/>
	</xsd:simpleType>
	<xsd:simpleType name="SPName_Type">
		<xsd:annotation>
			<xsd:documentation>Провайдер услуг(название системы, которая предоставляет услугу или запрашивает)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BP_ES">
				<xsd:annotation>
					<xsd:documentation>Устройство самообслуживания (СмартВиста)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BP_VSP">
				<xsd:annotation>
					<xsd:documentation>АС ВСП</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BP_ERIB">
				<xsd:annotation>
					<xsd:documentation>АС ЕРИБ для Базового продукта</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BP_COD">
				<xsd:annotation>
					<xsd:documentation>АС ЦОД</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BP_ESK">
				<xsd:annotation>
					<xsd:documentation>АС ЭСК</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BP_IASK">
				<xsd:annotation>
					<xsd:documentation>АС ИАСК</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BP_WAY">
				<xsd:annotation>
					<xsd:documentation>АС WAY4U</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BP_BS">
				<xsd:annotation>
					<xsd:documentation>АС БС</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BP_INFOBANK"/>
			<xsd:enumeration value="urn:sbrfsystems:99-autopay"/>
			<xsd:enumeration value="urn:sbrfsystems:99-hubble"/>
			<xsd:enumeration value="urn:sbrfsystems:99-wzext"/>
			<xsd:enumeration value="urn:sbrfsystems:99-ufs">
				<xsd:annotation>
					<xsd:documentation>АС ЕФС</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="urn:sbrfsystems:99-ufs:erkc">
				<xsd:annotation>
					<xsd:documentation>АС ЕФС (подсистема ЕРКЦ)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="urn:sbrfsystems:99-crm"/>
			<xsd:enumeration value="BP_KZUPD"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SPNum_Type">
		<xsd:annotation>
			<xsd:documentation>Номер банкомата</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="State_Type">
		<xsd:annotation>
			<xsd:documentation>Статус УДБО</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:enumeration value="NO_CONTRACT">
				<xsd:annotation>
					<xsd:documentation>Договор не заключен</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ACTIVE_CONTRACT">
				<xsd:annotation>
					<xsd:documentation>Договор заключен</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CLOSED_CONTRACT">
				<xsd:annotation>
					<xsd:documentation>Закрыт договор</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NOT_SIGNED">
				<xsd:annotation>
					<xsd:documentation>Неверефицирован</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatusCode_Type">
		<xsd:annotation>
			<xsd:documentation>Код ответа. Если все хорошо, то значение равно 0</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Long"/>
	</xsd:simpleType>
	<xsd:simpleType name="StatusDesc_Type">
		<xsd:annotation>
			<xsd:documentation>Описание ответа - причина ошибки (заполняется только при значении StatusCode, отличном от 0.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatusType_Type">
		<xsd:annotation>
			<xsd:documentation>Описание ответа - тип ошибки (заполняется только при значении StatusCode, отличном от 0.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:maxLength value="22"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="String10">
		<xsd:annotation>
			<xsd:documentation>Тип String10</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SystemId_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UUID">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:pattern value="[0-9a-zA-Z]{32}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
